h1 {
    text-align: center;
}

.wrapper-social {
    border: 3px solid black;
    height: 150px;
    width: 150px;
    margin: auto;
    border-radius: 12px;
    background-color: #1DA1F2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

ion-icon {
    font-size: 56px;
    color: white;
}

button:hover {
    background-color: green;
    opacity: 1;
}

button {
    padding: 6px;
    opacity: 0.8;
    transition: 0.3s;
}

a {
    text-decoration: none;
    color: black;
}

.outer-wrapper {
    display: flex;
    width: 50%;
    margin: auto;
}
